COMPOSE_PROJECT_NAME=fuelapp

APP_ENV=dev
APP_PORT=8081
DEFAULT_URI=http://localhost:8081

POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_PORT=5433

REDIS_VERSION=7
REDIS_PASSWORD=!ChangeMe!
REDIS_PORT=6380

RABBITMQ_VERSION=3
RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=!ChangeMe!
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673

MERCURE_VERSION=v0.17
MERCURE_PORT=3001
MERCURE_JWT_SECRET=!ChangeMe!
# Comma-separated list of allowed origins. Example: "http://localhost:3000,http://localhost:8080"
MERCURE_CORS_ORIGINS=http://localhost:8081

SIGNOZ_VERSION=latest
SIGNOZ_PORT=3301
SIGNOZ_OTLP_GRPC_PORT=14317
SIGNOZ_OTLP_HTTP_PORT=14318
SIGNOZ_TELEMETRYSTORE_PROVIDER=clickhouse
SIGNOZ_TELEMETRYSTORE_CLICKHOUSE_DSN=clickhouse://signoz:signoz@clickhouse:9000/signoz
SIGNOZ_TOKENIZER_JWT_SECRET=ChangeMeToAtLeast32CharsForSigNozJwt

CLICKHOUSE_VERSION=24.8-alpine
CLICKHOUSE_DB=signoz
CLICKHOUSE_USER=signoz
CLICKHOUSE_PASSWORD=signoz

OTEL_PHP_AUTOLOAD_ENABLED=1
OTEL_SERVICE_NAME=fuelapp
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=none
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz:4318
OTEL_EXPORTER_OTLP_TIMEOUT=1000
